*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Oswald', sans-serif;    
}
html{
    background-image: url("../img/fondo.jpg");
  background-repeat:no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
}
#he1{
    background-color: rgb(255, 119, 0);
}

header{
    background-color: #00000000;
    text-align: center;
    
}
h1{
    text-align: center;
}



.img{
    height: 10px;
    width: 10px;
}
#lista1{
    text-align: center;
    background-color: #ffffff;
    padding: 7px;
    
}
#lis2{
    padding: 7px;
}
li {
    display:inline;
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 17px;
}
a {
    color:#000000;
   text-decoration:none;
}
a:hover {
   color:#ff7b00;

}


